/*---------- HTML ----------*/

body {
    font-family: Verdana, Arial, 'Times New Roman';
    /*font-family: "Helvetica Neue light", Roboto light, Helvetica, Arial, sans-serif;*/
    /*font: 100%/1.618, Helvetica Neue Light;*/
    /*color: #444;*/
    /*font-weight: 200;*/
}

p > * {
    pointer-events: none;
    margin: 0auto;
}

input[type=checkbox]:not(:checked) {
    -webkit-mask-box-image: url("../img/icons/checkbox_off.png")!important;
    color: #e55b2b;
}

input[type=checkbox]:checked {
    -webkit-mask-box-image: url("../img/icons/checkbox_on.png")!important;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

input[type="radio"] {
    width: 13px;
    height: 13px;
}

li {
    background: inherit!important;
}

form {
    margin: 5px;
}

label > span {
    width: 30%;
    display: inline-block;
}

    label > span:after {
        content: ":";
    }

input[type="text"], input[type="password"], input[type="email"], select, textarea {
    -moz-box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box;
    border-radius: 4px;
    color: #444 !important;
    padding: 8px;
    margin-top: 1rem;
    margin-left: 1.1rem!important;
    width: 60%;
    border: 1px solid #bbb;
    font-size: 1.1em!important;
}

/*---------- Clases ----------*/

.div-banner {
    width: 100%;
    vertical-align: central;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

.image-banner {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: none;
}

/*.li-margen {
    min-height: 50px!important;
    font-size: 1.2em;
}

    .li-margen > li {
        min-height: 50px!important;
    }*/

.left-align {
    margin: 4px!important;
}

.centered {
    text-align: center;
}

.main-button {
    font-size: 1.3em;
    margin-top: 20px;
}

.result-success {
    font-style: italic;
    color: black;
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px;
}

.result-error {
    font-style: italic;
    color: red;
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px;
}

.commentmail-box {
    color: black;
    margin-top: 15px;
    margin-right: 10px;
    /*background-color: lightsalmon;*/
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 5px;
}

.toast {
    width: 200px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.nm-title {
    /*font-family: Verdana;*/
    color: black;
}

.nm-subtitle {
    /*font-family: Arial;*/
}

.nm-text {
    /*font-family: Verdana !important;*/
}

.nm-textbox {
    border-radius: 0 !important;
}

.nm-alert {
    /*font-family: Verdana;*/
    font-style: italic;
    color: red;
}

/*.radioGroup {
    background: white!important;
    color: #e55b2b!important;
    border-style: solid;
    border-color: #e55b2b!important;
}*/

/*LISTA DE CATEGORIAS*/
.category-list-template {
    margin-right: 35px;
}

.lista-secciones {
    font-size: 1.4em;
}

.text-container {
    padding: 4px;
}

.loadingSpinner {
    display: none;
    position: absolute;
    left: 0.5em;
    top: 0.7em;
}

.loadingSpinner2nd {
    display: none;
    position: absolute;
    left: 5.5em;
    top: 0.7em;
}

/*---------- Kendo UI ----------*/

.km-principal {
    background: url("../img/icons/home.png") !important;
    background-size: 100% 100% !important;
}

    .km-principal::after {
        content: none;
    }

.km-buscar {
    background: url("../img/icons/search.png") !important;
    background-size: 100% 100% !important;
}

    .km-buscar::after {
        content: none;
    }

.km-info {
    background: url("../img/icons/info.png") !important;
    background-size: 100% 100% !important;
}

    .km-info::after {
        content: none !important;
    }

.km-boton-atras {
    background: url("../img/icons/flecha.png") no-repeat !important;
    background-size: contain !important;
}

    .km-boton-atras::after {
        content: none;
    }

/*Apariencia TAB STRIP*/
.buttonAppearance-tabstrip {
    color: white;
    background: #f2825b!important; /* Old browsers */
    background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%)!important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* IE10+ */
    background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 )!important; /* IE6-9 */
    font-weight: bold;
    text-decoration: none;
    border: none!important;
}

li.km-state-active {
    color: white!important;
}

/*Poner TABSTRIP en el footer para Android*/
.km-root .km-android .km-view {
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}


.km-android .km-navbar .km-view-title /* After Q2 2012 SP1 */ {
    visibility: visible;
}

.km-footer {
    background-color: rgb(255, 255, 255)!important;
    background: rgb(255, 255, 255);
}

.km-button {
    background-color: #e55b2b !important;
    color: white !important;
    font-weight: bold!important;
}

.km-flat .km-header,
.km-flat .km-navbar {
    color: white;
    background: #f2825b; /* Old browsers */
    background: -moz-linear-gradient(top, #f2825b 0%, #e55b2b 50%, #f07146 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(50%,#e55b2b), color-stop(100%,#f07146)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2825b 0%,#e55b2b 50%,#f07146 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
    font-weight: bold;
    -webkit-background-size: auto!important;
}

.km-flat .km-switch-handle,
.km-flat .k-slider-selection,
.km-flat .km-switch-background {
    color: #e55b2b!important;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-label {
    background: #e55b2b!important;
}

.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: #e55b2b!important;
    color: white!important;
}

.km-flat .km-filter-wrap > input:focus {
    border-color: #e55b2b!important;
}

.km-widget {
    border: none!important;
    border-style: none!important;
}

.km-flat .km-widget.km-detaildisclose.km-detail.km-state-active {
    background: inherit!important;
    color: inherit!important;
}

.km-flat li.km-state-active .km-listview-link {
    background: inherit!important;
}

.km-flat .km-loader h1 {
    display: block;
    font-size: 1em;
    position: absolute;
    left: -50%;
    width: 200%;
    top: 55%;
}

.km-view-title {
    background-color: #923222;
    /*color: white;
    font-weight: 700;*/
    font-size: 1.2em;
}

.km-flat .km-content {
    background-color: white;
}

.km-flat .km-button {
    background-color: #E44C16;
    color: white;
    /*font-family: Verdana;*/
    border-radius: 0;
    vertical-align: top;
}

.buttonAppearance-tabstrip {
    background: linear-gradient(to bottom, #E44C16 0%,#923222 50%,#E44C16 100%) !important;
}

.km-flat .km-tabstrip .km-state-active {
    background-color: #923222 !important;
}

.km-root .km-android .km-view {
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.km-leftitem, .km-rightitem {
    z-index: 1;
    position: absolute;
    right: .5em;
    top: -0.2em;
}

.k-invalid-msg {
    display: block;
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
    color: red;
    font-style: italic;
}
