<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Plataforma Educacional</name>

    <description>
		Plataforma orientada a la comunicación y capacitación de profesionales especialistas en enfermedades auto inflamatorias.
	</description>

    <author email="info@c-net.com.ar" href="http://www.c-net.com.ar">
		C-NET S.R.L.
	</author>

	<content src="index.html" />

	<access origin="*" />
  
	<preference name="phonegap-version" value="3.6.3" />
	  <!-- fullscreen: hides the status bar at the top of the screen -->
	  <preference name="fullscreen" value="true" />
	  <preference name="permissions" value="storage"/>
	  <!-- android-minSdkVersion: Android 3.2 HONEYCOMB_MR2 -->
	  <preference name="android-minSdkVersion" value="10" />
	  <preference name="AndroidPersistentFileLocation" value="Internal" />
	  <preference name="iosPersistentFileLocation" value="Library" />
  
</widget>