<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.com.novartis.plaedu" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

  <!-- Archivo de configuración para PhoneGap Build -->
  <!-- http://docs.build.phonegap.com/en_US/configuring_basics.md.html#The%20Basics -->

  <name>Plataforma Educacional</name>

  <description>
    Plataforma orientada a la comunicación y capacitación de profesionales especialistas en enfermedades auto inflamatorias.
  </description>

  <author email="info@c-net.com.ar" href="http://www.c-net.com.ar">
    C-NET S.R.L.
  </author>

  <content src="index.html" />

  <access origin="*" />

  <preference name="phonegap-version" value="3.6.3" />
  <!-- fullscreen: hides the status bar at the top of the screen -->
  <preference name="fullscreen" value="true" />
  <preference name="permissions" value="storage"/>
  <!-- android-minSdkVersion: Android 3.2 HONEYCOMB_MR2 -->
  <preference name="android-minSdkVersion" value="10" />
  <preference name="AndroidPersistentFileLocation" value="Internal" />
  <preference name="iosPersistentFileLocation" value="Library" />

  <gap:plugin name="cordova-plugin-file" source="plugins.cordova.io" />
  <gap:plugin name="cordova-plugin-file-transfer" source="plugins.cordova.io" />
  <gap:plugin name="cordova.plugins.inappbrowser" source="plugins.cordova.io" />
  <gap:plugin name="cordova-plugin-network-information" source="plugins.cordova.io" />

  <icon src="icon.png" />

  <icon src="img/icons/android/icon-ldpi-36x36.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="img/icons/android/icon-mdpi-48x48.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="img/icons/android/icon-hdpi-72x72.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="img/icons/android/icon-xhdpi-96x96.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="img/icons/android/icon-xxhdpi-144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />

  <!-- iOS 8.0+ -->
  <!-- iPhone 6 Plus  -->
  <icon src="img/icons/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
  <!-- iOS 7.0+ -->
  <!-- iPhone / iPod Touch  -->
  <icon src="img/icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="img/icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
  <!-- iPad -->
  <icon src="img/icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="img/icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
  <!-- iOS 6.1 -->
  <!-- Spotlight Icon -->
  <icon src="img/icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="img/icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
  <!-- iPhone / iPod Touch -->
  <icon src="img/icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
  <icon src="img/icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
  <!-- iPad -->
  <icon src="img/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="img/icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
  <!-- iPhone Spotlight and Settings Icon -->
  <icon src="img/icons/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="img/icons/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
  <!-- iPad Spotlight and Settings Icon -->
  <icon src="img/icons/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
  <icon src="img/icons/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />

  <icon src="img/icons/wp8/ApplicationIcon-99x99.png" gap:platform="winphone" />
  <icon src="img/icons/wp8/Background-159x159.png" gap:platform="winphone" gap:role="background" />

  <gap:splash src="splash.png" />
  
  <gap:splash src="img/splashs/android/splash-port-ldpi-200x320.png" gap:platform="android" gap:qualifier="port-ldpi" />
  <gap:splash src="img/splashs/android/splash-land-ldpi-320x200.png" gap:platform="android" gap:qualifier="land-ldpi" />
  <gap:splash src="img/splashs/android/splash-port-mdpi-320x480.png" gap:platform="android" gap:qualifier="port-mdpi" />
  <gap:splash src="img/splashs/android/splash-land-mdpi-480x320.png" gap:platform="android" gap:qualifier="land-mdpi" />
  <gap:splash src="img/splashs/android/splash-port-hdpi-480x800.png" gap:platform="android" gap:qualifier="port-hdpi" />
  <gap:splash src="img/splashs/android/splash-land-hdpi-800x480.png" gap:platform="android" gap:qualifier="land-hdpi" />
  <gap:splash src="img/splashs/android/splash-port-xhdpi-720x1280.png" gap:platform="android" gap:qualifier="port-xhdpi" />
  <gap:splash src="img/splashs/android/splash-land-xhdpi-1280x720.png" gap:platform="android" gap:qualifier="land-xhdpi" />

  <!-- iPhone and iPod touch -->
  <gap:splash src="img/splashs/ios/Default~iphone.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="img/splashs/ios/Default@2x~iphone.png" gap:platform="ios" width="640" height="960" />

  <!-- iPhone 5 / iPod Touch (5th Generation) -->
  <gap:splash src="img/splashs/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="640" height="1136" />

  <!-- iPhone 6 -->
  <gap:splash src="img/splashs/ios/Default-667h.png" gap:platform="ios" width="750" height="1334" />
  <gap:splash src="img/splashs/ios/Default-736h.png" gap:platform="ios" width="1242" height="2208" />
  <gap:splash src="img/splashs/ios/Default-Landscape-736h.png" gap:platform="ios" width="2208" height="1242" />

  <!-- iPad -->
  <gap:splash src="img/splashs/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="img/splashs/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="768" />

  <!-- Retina iPad -->
  <gap:splash src="img/splashs/ios/Default-Portrait@2x~ipad.png" gap:platform="ios" width="1536" height="2048" />
  <gap:splash src="img/splashs/ios/Default-Landscape@2x~ipad.png" gap:platform="ios" width="2048" height="1536" />

  <gap:splash src="img/splashs/wp8/splashscreen-768x1280.jpg" gap:platform="winphone" />

</widget>


